.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 800px;
    height: 600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  .modalContainer .body {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 8px;
    border :none;
  }

  .modalContainer .footer {
    flex: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  #cancelBtn {
    background-color: crimson;
  }

  #cancelBtn:hover {
    background-color: red;
  }
  #createPublic {
      background-color: rgb(31, 86, 188);
  }

  #createPrivate {
      background-color: rgb(18, 122, 202);
  }

  #createProtected {
    background-color: rgb(41, 178, 216);
  }

  .chatroom-form {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .password-input {
    margin: 10px;
    padding: 10px;
    
  }

  #createPublic:hover {
    background-color: rgb(0, 39, 111);
  }
  
  #createPrivate:hover {
    background-color: rgb(0, 72, 120);
  }
  
  #createProtected:hover {
    background-color: rgb(0, 94, 115);
  }

