@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h2{
	font-family: 'Roboto', sans-serif;
	color: white;
}

$font-title: 'Borel', serif;